.select-config-redis {
  &::before {
    content: "Redis enviroment : ";
    margin-right: 10px;
  }
}

.select-symbol {
  &::before {
    content: "Symbol : ";
    margin-right: 10px;
  }
}
.select-type {
  &::before {
    content: "Type : ";
    margin-right: 10px;
  }
}

.input-order-id {
  &::before {
    content: "Order id : ";
    margin-right: 10px;
  }
}