@font-face {
  font-family: 'helveticaneue';
  src: url('../fonts/HELVETICANEUE.OTF') format('opentype');
}

@font-face {
  font-family: 'helveticaneue-light';
  src: url('../fonts/HELVETICANEUE-LIGHT.OTF') format('opentype');
}

@font-face {
  font-family: 'helveticaneue-italic';
  src: url('../fonts/HELVETICANEUE-ITALIC.OTF') format('opentype');
}

@font-face {
  font-family: 'helveticaneue-medium';
  src: url('../fonts/HELVETICANEUE-MEDIUM.OTF') format('opentype');
}

@font-face {
  font-family: 'bledascript';
  src: url('../fonts/BLENDA SCRIPT.OTF') format('opentype');
}
