pre{
	background-color: transparent;
	border: none;
	color: #fff;
}

.widget:not(.widget-tabs) .tab-content {
    background: none repeat scroll 0px 0px rgba(51, 51, 51, 0.25);
    border: medium none;
    border-radius: 0px 0px 1px 1px;
    padding: 10px;
}

#tabcontents{
	
	word-wrap: break-word;
	display: block;
	background-color: rgba(0, 0, 0, 0.25);
}

.panel:nth-child(n) .panel-heading {
   border-left: none;
}

.paging_full_numbers {
	height: 22px;
	line-height: 22px;
	margin-top: 20px;
	width: 100%;
}